*{
  margin:0;
  padding: 0;
}

.bg {
  background: #d2d6d4;
  background-size: cover;
}


.display-bar-1{
  position: absolute;
  background-color: deepskyblue;
  margin-top:20px;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate(-50%);
}