.nav{
  opacity: 1;
  background-color:white;
  height: 8vh;
  border-bottom: solid 4px dodgerblue;
}

.user-controls{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

