svg{
  margin-right:5px;
  margin-bottom:7px;
  font-size:20px;
  vertical-align: center;
}

.start svg:hover{
  fill: yellow;
}

.div-start{
  float: left;
  margin-right: 5px;
}

.div-like{
  float: left;
  margin-right: 5px;
}

.div-comment{
  width:202px;
}