.container-inside{
  background-color: white;
  min-height: 100px;
  height: auto;
  padding-top: 5px;
}

.div-container{
  margin-left:50px;
  margin-top:20px;
  width:90%;
  height: auto;
  padding-bottom: 16px;
  margin-bottom: 16px;;
}

.bottom-lines{
  composes: div-container;
  border-bottom: 1px dashed #e8e8e8;
}

