* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: url("./web16002.jpg") no-repeat;
    background-size: cover;
}